.container {
  display: flex;
  flex-direction: column;
}

.label,
.icon,
.input {
  font-size: inherit;
}

.label {
  display: inline;
  font-weight: bolder;
  padding: 6px;
  color: var(--color-primary);
}

.component {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: #FFF;
  border: solid var(--color-secondary);
}

.component[data-validate=valid] {
  border: solid var(--color-success);
}

.component[data-validate=valid]:focus {
  box-shadow: 0 0 4px var(--color-success);
}

.component[data-validate=invalid] {
  border: solid var(--color-error);
}

.component[data-validate=invalid]:focus {
  box-shadow: 0 0 4px var(--color-error);
}

.start,
.end {
  font-size: inherit;
  color: var(--color-gray);
}

.start {
  padding-left: 6px;
}

.end {
  padding-right: 6px;
}

.input {
  flex: auto;
  border: none;
  width: 100%;
  outline: 0;
  padding: 6px 10px;
  color: var(--color-black);
}

.input::placeholder {
  color: var(--color-gray);
}

.input[type='color'] {
  cursor: pointer;
  padding: 4px 8px;
  block-size: 30px;
}

.input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
}