.container {
  right: 0;
  bottom: 0;
  z-index: 3;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  transition: transform 0.5s;
}

.message {
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  color: var(--color-black);
  background-color: var(--color-white);
  border: solid var(--color-secondary);
}

.message::before {
  width: 20px;
  height: 10px;
  font-size: .8rem;
  font-weight: bold;
  display: inline-block;
}

.message[type=success]::before {
  content: var(--icon-success);
  color: var(--color-success);
}

.message[type=error]::before {
  content: var(--icon-error);
  color: var(--color-error);
}

.message[type=warning]::before {
  content: var(--icon-warning);
  color: var(--color-warning);
}

.message[type=info]::before {
  content: var(--color-info);
  color: var(--color-info);
}

.message:hover::before {
  content: var(--icon-close);
}

:root[device=mobile] .message {
  flex: auto;
}