.tab {
  overflow-x: auto;
  margin-bottom: 10px;
  border-bottom: solid var(--color-primary);
}

.tab span {
  cursor: pointer;
  display: inline-block;
  padding: 4px 10px;
}

.tab span[select] {
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 4px 4px 0 0;
}