.tab {
  padding: 10px 0;
  overflow-x: auto;
  margin-bottom: 10px;
  border-bottom: solid var(--color-primary);
}

.tab span {
  cursor: pointer;
  padding: 0 10px;
}

.tab span[select] {
  font-weight: bold;
  color: var(--color-primary);
}