@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: monospace, 'Material Icons';
}

*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

*::-webkit-scrollbar-corner {
  display: none;
}

*:not(:hover)::-webkit-scrollbar-thumb {
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color-background);
}

#root {
  height: 100vh;
  width: 100vw;
}

:root {
  color: var(--color-black);
  background: var(--color-background);

  --color-primary: #997C52;
  --color-secondary: #F5DEB3;
  --color-background: #412505;
  --color-success: #1E9B1E;
  --color-error: #D12C2C;
  --color-warning: #BDAC19;
  --color-info: #3A3A8F;
  --color-black: #514E60;
  --color-gray: #76767E;
  --color-white: #EBEFD4;

  --icon-success: '\e86c';
  --icon-error: '\e5c9';
  --icon-warning: '\e000';
  --icon-info: '\e88e';
  --icon-close: '\e5cd';
  --icon-edit: '\e3c9';
  --icon-delete: '\e872';
  --icon-notification: '\e7f4';
  --icon-arrow-up: '\f182';
  --icon-arrow-down: '\f181';
  --icon-arrow-right: '\eaaa';
  --icon-arrow-left: '\eaa7';
}